* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Signika Negative", "Crimson Text", "Sedan", sans-serif;
    text-align: center;
}

div {
    height: 100vh;
}

header {
    border-bottom: 15px double black;
    min-width: 350px;
}

footer {
    border-top: 15px double black;
    min-width: 350px;
}

figure img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

section {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-item-left {
    flex: 50%;
    min-width: 350px;
}

.flex-item-right {
    flex: 50%;
    min-width: 350px;
}




/* <uniquifier>: Use a unique and descriptive class name  */
/* <weight>: Use a value from 300 to 700 */
/* 
.signika-negative {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.crimson-text-semibold {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
}

.crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

.crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
}

.crimson-text-semibold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: italic;
}

.crimson-text-bold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
}


.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
} */